<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Crafty Barnardo Records</title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='/style.css'>
</head>
<body class="grad">
<nav>
<a href="/albums">All Albums</a>
<a href="/albums/new">New Album</a>
<a href="/artists">All Artists</a>
<a href="/artists/new">New Artist</a>

</nav>
<%=yield%>
</body>
</html>