<form action="/albums" method="POST">
<ul>
<li>
<label for="title-field">Title:</label>
<input id="title-field" name="title" type="text"/>
</li>
<li>
<label for="artist-field">Artist:</label>
<input id="artist-field" type="text" name="artist">
</li>
<li>
<label for="genre-field">Genre</label>
<input type="text" id="genre-field" name="genre">
</li>
<li>
<label for="buy_price-field">Buy Price:</label>
<input id="buy_price-field" type="number" name="buy_price">
</li>
<li>
<label for="sell_price-field">Sell Price:</label>
<input id="sell_price-field" type="number" name="sell_price">
</li>
<li>
<label for="quantity-field">Sell Price:</label>
<input id="quantity-field" type="number" name="quantity">
</li>
</ul>
</form>