<img class="vinyl" src="/images/ourvinylweighs.jpg" alt = "Our vinyl weighs a ton">
<h1>Crafty Barnardo Records</h1>
<h2 class="center">Inventory Totals</h2>
<body>


<p class="mainp">Total Album In Stock: <%= @albums %> </p>
<p class="mainp">Total Artists In Stock: <%= @artists %> </p>
<p class="mainp">Total Stock Value: £<%= @albums_value %> </p>

</body>