h1 {
  display: inline;
  justify-content: right;
  font-family: 'Sonsie One', cursive;
  font-weight: bolder;
  font-size: 7em;
  color: firebrick;
  text-shadow: 3px 3px darkslategrey;
  text-align: right;
  margin: 5px;
  padding: 5px;
}

h2 {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  font-size: 3em;
  color: firebrick;
  text-shadow: 2px 2px darkslategrey;
}

h3 {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  font-size: 2em;
  color: firebrick;
  text-shadow: 2px 2px darkslategrey;
}

body {
  background-color: #cce7de;
}

p {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: firebrick;
  font-size:1.3em;
}

a {
  font-family: 'Sonsie One', cursive;
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px black;
  color: royalblue;
  font-size: 1.15em;
}

footer {
  position: fixed;
  height: 15em;
  overflow-y: auto;
    width: 100%;
    position: fixed;
    top: 864px;
    left: 0;
    z-index: 1000;
}

.foottext {
  font-weight: bold;
  font-size: 1.4em;
  justify-content: inline-block;
  text-align: right;
  margin: 0.3em;
  padding-right: 0.1em;
  color: dodgerblue;
}

nav {
  font-family: 'Sonsie One', cursive;
  display: flex
  justify-content: space-between;
  text-align: center;
  padding: 2px;
  text-shadow: 1px 1px black;
  color: dodgerblue;
  font-size: 1.2em;
  position: relative;
}

ul {
  list-style: none;
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: firebrick;
  font-size:1.2em;
}

.vinyl {
  padding: 1em;
  border-radius: 60%;
  display: inline;
  width: 20%;
}

.mainimg {
  padding: 3em;
  border-radius: 30%;
  display: block;
  margin: auto;
  width: 50%;
}

.mainbody {
  background-color: #cce7de;
  height: 100%;
  width: 100%;
}

.mainheading {
  font-family: 'Sonsie One', cursive;
  font-weight: bolder;
  font-size: 7em;
  color: firebrick;
  text-shadow: 3px 3px darkslategrey;
  text-align: right;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.button {
    border:1px solid black;
    background: linear-gradient(to bottom right, silver , darkslategrey);
    border-radius: 15%;
    padding: 6px 10px;
    margin: 2px;
    color: firebrick;
    font-size: 1.1em;
    font-family: 'Sonsie One', cursive;
    text-shadow: 1px 1px black;
}

input {
  border:1px solid black;
  background: linear-gradient(to bottom right, silver , darkslategrey);
  border-radius: 5%;
  padding: 6px 10px;
  margin: 2px;
  color: firebrick;
  font-size: 1em;
  font-family: 'Sonsie One', cursive;
  text-shadow: 1px 1px black;
}

select {
  border:1px solid black;
  background: linear-gradient(to bottom right, silver , darkslategrey);
  border-radius: 5%;
  padding: 6px 10px;
  margin: 2px;
  color: firebrick;
  font-size: 1em;
  font-family: 'Sonsie One', cursive;
  text-shadow: 1px 1px black;
}

option {
  border:1px solid black;
  background: linear-gradient(to bottom right, silver , darkslategrey);
  border-radius: 5%;
  padding: 6px 10px;
  margin: 2px;
  color: firebrick;
  font-family: 'Sonsie One', cursive;
  text-shadow: 1px 1px black;
}

hr {
  border-color: dodgerblue;
}

div {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: firebrick;
  font-size:1.1em;
}


.grid-row {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cell {
  flex: 1;
  padding: 10px;
}


@media all and (min-width: 720px) {

  .grid-row-md {
    width: 80%;
    justify-content: center;
    flex-direction: row;
  }
}

@media all and (min-width: 960px) {

  .grid-row-lg {
    width: 80%;
    justify-content: center;
    flex-direction: row;
  }
}