h1 {
  display: inline;
  justify-content: right;
  font-family: 'Sonsie One', cursive;
  font-weight: bolder;
  font-size: 7em;
  color: firebrick;
  text-shadow: 3px 3px darkslategrey;
  text-align: right;
  margin: 5px;
  padding: 5px;
}

h2 {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  font-size: 3.3em;
  color: firebrick;
  text-shadow: 2px 2px darkslategrey;
}

h3 {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  font-size: 2em;
  color: firebrick;
  text-shadow: 1px 1px darkslategrey;
}

body {
  background-color: #cce7de;
  margin-bottom: 150px;
}

p {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: firebrick;
  font-size:1.5em;
}

a {
  font-family: 'Sonsie One', cursive;
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px black;
  color: royalblue;
  font-size: 1em;
}

footer {
  border-top: 1px solid aliceblue;
  position: fixed;
  height: 15em;
  overflow-y: auto;
  width: 100%;
  position: fixed;
  top: 864px;
  left: 0;
  z-index: 1000;
  padding-right: 10px;

}

.foottext {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  font-size: 1.5em;
  justify-content: block;
  text-align: center;
  padding-top: 40px;
  margin: auto;
  color: dodgerblue;
}

nav {
  font-family: 'Sonsie One', cursive;
  display: block;
  justify-content: space-between;
  text-align: center;
  padding: 2px;
  margin: auto;
  text-shadow: 1px 1px black;
  color: dodgerblue;
  font-size: 1.5em;
  position: relative;
}

ul {
  list-style: none;
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: firebrick;
  font-size:1.2em;
}

.center {
  display: block;
  text-align: center;
  padding: 50px;
  margin: 50px;
}

.vinyl {
  padding: 1em;
  border-radius: 40%;
  display: inline;
  width: 20%;
}

.mainimg {
  padding: 1em;
  border-radius: 30%;
  display: block;
  margin: auto;
  width: 50%;
}

.mainbody {
  background-color: #cce7de;
  height: 100%;
  width: 100%;
}

.mainheading {
  font-family: 'Sonsie One', cursive;
  font-weight: bolder;
  font-size: 7em;
  color: firebrick;
  text-shadow: 3px 3px darkslategrey;
  text-align: right;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.mainp{
  display: block;
  justify-content: center;
  text-align: center;
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: firebrick;
  font-size:1.5em;
}

.button {
  border: 1px solid black;
  background: linear-gradient(to bottom right, silver , darkslategrey);
  border-radius: 15%;
  color: firebrick;
  margin: 5px;
  font-size: 1em
  font-family: 'Sonsie One', cursive;
  text-shadow: 1px 1px black;
  text-align: center;
}

.showbut {
  display: inline-block;
}

input {
  border:1px solid black;
  background: linear-gradient(to bottom right, silver , darkslategrey);
  border-radius: 5%;
  width: 280;
  color: firebrick;
  margin: 5px;
  font-size: 1em;
  font-family: 'Sonsie One', cursive;
  text-shadow: 1px 1px black;
}

select {
  border:1px solid black;
  background: linear-gradient(to bottom right, silver , darkslategrey);
  border-radius: 5%;
  color: firebrick;
  width: 180px;
  margin-left: 5px;
  margin-right: 5;
  font-size: 1em;
  font-family: 'Sonsie One', cursive;
  text-shadow: 1px 1px black;
}

option {
  border:1px solid black;
  background: linear-gradient(to bottom right, silver , darkslategrey);
  border-radius: 5%;
  color: firebrick;
  padding: 5px;
  font-family: 'Sonsie One', cursive;
  text-shadow: 1px 1px black;
}

hr {
  border-color: dodgerblue;
}


.grid-row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  max-width: 320px;
  margin-right: 15px;
}


@media all and (min-width: 800px) {

  .grid-row-md {
    flex-direction: row;
  }
}

@media all and (min-width: 960px) {

  .grid-row-lg {
    flex-direction: row;
  }
}

div {
  font-family: 'Sonsie One', cursive;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: firebrick;
  font-size: 1.1em;
  display: flex;
}
