<h1>Crafty Barnardo Records</h1>

<h2 class="center">Album Added</h2>
<body>

<meta http-equiv="refresh" content="4; URL='http://localhost:4567/albums'" />

<p class="center">This page will redirect to all albums</p>
</body>
<footer>
<p class="foottext">Inventory Control System</p>
</footer>
