<h1>Crafty Barnardo Records</h1>

<h2>Update Record Details</h2>
<body>
<form action="/artists/<%= @artists.id%>" method="POST">
<ul>
<li>
<label for="name-field">Artist Name:</label>
<input id="name-field" name="name" type="text" value="<%= @artists.name %>">
</li>
<li>
<input type="submit" value="Update">
</li>
</ul>
</form>
</body>
<footer>
<p class="foottext">Inventory Control System</p>
</footer>
