<h1>Crafty Barnardo Records</h1>
<h2>All Artists</h2>
<hr/>
<body>

<% @artists.each do |artist| %>

<p>Name: <%= artist.name %></p>


<p><a href="/artists/<%= artist.id %>">Show Artist Details</a></p>

<hr/>

<% end %>
</body>
<footer>
<p class="foottext">Inventory Control System</p>
<p class="foottext">CBR 2017</p>
</footer>
